.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  width: 100%;
  max-width: 1500px;
  margin: 0px auto;
  padding: 0px 24px;
}

@media only screen and (max-width: 1700px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 768px) {

  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
  }

  .project {
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin: 10px;
  }

}