.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  width: 100%;
  max-width: 1500px;
  margin: 0px auto;
  padding: 0px 24px;
}

.my_masonry_grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my_masonry_grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my_masonry_grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: #0f0f0f;
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
}

@media only screen and (max-width: 1700px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 768px) {

  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
  }

  .project {
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin: 10px;
  }

}