.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 150px;
  background-color: transparent;
  z-index: 50;
  padding: 0 50px;
}

.navbarLogo {
  background: rgba(20, 20, 20, 0.8);
  border-radius: 5px;
  padding: 10px 20px;
}

.navbarLinkContainer {
  background: rgba(20, 20, 20, 0.8);
  border-radius: 5px;
  padding: 10px 20px;
}

.navbarLogo h3 {
  color: #C26CCB;
  font-size: 30px;
  transition: .5s ease-in-out;
  margin: 0;
}

.navbarLogo h3:hover {
  color: #905097;
  cursor: pointer;
}

.navbarLinkContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbarLinkContainer a {
  cursor: pointer;
  text-decoration: none;
  font-size: 23px;
}

.white a {
  color: #fff;
}

.dark a {
  color: #000;
}

.navbarLinkContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbarLinkContainer li {
  display: inline;
  padding-left: 14px;
  padding-right: 14px;
}

.navbarLinkContainer a {
  color: #fff;
  transition: .5s ease;
}

.navbarLinkContainer a:hover {
  color: #C26CCB;
}

.navbarMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburgerContainer {
  position: fixed;
  z-index: 50;
  height: 52px;
  width: 52px;
  top: 0;
  right: 0;
  margin: 40px;
  opacity: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburgerLines {
  background-color: #141414;
  width: 24px;
  height: 3px;
  margin: 4px 0;
}

.cross {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 50;
  height: 40px;
  width: 40px;
  top: 0;
  right: 0;
  margin: 40px;
  opacity: 0;
  background-color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 1150px) {

  .navbar {
    width: 100vw;
    height: 100%;
    left: 0;
    background-color: #fff;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .navbar a {
    color: #000;
  }

  .navbarLogo {
    opacity: 0;
  }

  .navbarLinkContainer {
    background: rgba(255,255,255,1);
    justify-content: center;
    flex-direction: column;
    border-radius: 0;
    padding: 0;
  }

  .navbarLinkContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbarLinkContainer li {
    display: inline;
    margin-left: 0;
    margin: 8px 0;
  }

  .navbarLinkContainer a:hover {
    text-decoration: underline;
  }

  .hamburgerContainer {
    opacity: 1;
  }

  .cross {
    opacity: 1;
  }

}
