.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 150px;
  background-color: transparent;
  z-index: 50;
  padding: 0 50px;
}

.navbarLogo {
  background: rgba(20, 20, 20, 0.8);
  border-radius: 5px;
  padding: 10px 20px;
}

.navbarLogo h3 {
  color: rgb(143, 57, 221);
  font-size: 30px;
  transition: .5s ease-in-out;
  margin: 0;
}

.navbarLogo h3:hover {
  color: rgb(96, 0, 121);
  cursor: pointer;
}

.navbarLinkContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbarLinkContainer {
  background: rgba(20, 20, 20, 0.8);
  border-radius: 5px;
  padding: 10px 20px;
}

.navbarLinkContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbarLinkContainer li {
  display: inline;
  padding-left: 14px;
  padding-right: 14px;
}

.navbarLinkContainer a {
  cursor: pointer;
  text-decoration: none;
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
  position: relative;
  color: #fff;
  font-size: 23px;
  transition: color .3s ease;
}

.navbarLinkContainer a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(143, 57, 221);
  color: rgb(143, 57, 221);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbarLinkContainer a:hover:after {
  width: 100%;
  left: 0;
  color: rgb(143, 57, 221);
}

.navbarLinkContainer a:hover {
  color: rgb(143, 57, 221);
}

.navbarMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburgerContainer {
  position: fixed;
  z-index: 50;
  height: 52px;
  width: 52px;
  top: 0;
  right: 0;
  margin: 40px;
  opacity: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 6%) 0px 3px 20px 5px

}

.hamburgerLines {
  background-color: #141414;
  width: 24px;
  height: 3px;
  margin: 4px 0;
}

.cross {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 50;
  height: 52px;
  width: 52px;
  top: 0;
  right: 0;
  margin: 40px;
  opacity: 0;
  background-color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 1150px) {

  .navbar {
    height: 100%;
    left: 0;
    background-color: #141414;
    justify-content: center;
    flex-direction: column;
  }

  .navbarLogo {
    background-color: transparent;
    opacity: 1;
    padding: 20px 0px;
  }

  .navbarLinkContainer {
    background: transparent;
    justify-content: center;
    flex-direction: column;
    border-radius: 0;
    padding: 40px 0px;
  }

  .navbarLinkContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbarLinkContainer li {
    display: inline;
    margin-left: 0;
    margin: 8px 0;
  }

  .hamburgerContainer {
    opacity: 1;
  }

  .cross {
    opacity: 1;
  }

  .socials {
    padding: 20px 0px;
  }

}
