.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  height: 100px;
  align-items: center;
  width: 100%;
  margin: 0px auto;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons a {
  color: #fff;
  padding-right: 1rem;
}

.footer h5 {
  color: #454545;
  padding: 0;
  margin: 0;
}

.footerCopyright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
