.aboutContainer{
  margin: 0px auto;
  width: 100%;
  max-width: 1500px;
  padding: 0px 48px;
}

.row {
  display: flex;
  justify-content: space-between;
  height: 800px;
  align-items: center;
}

.imageContainer {
  justify-content: flex-start;
  display: block;
  margin: 0px auto;
  width: 40%;
}

.textContainer {
  justify-content: flex-end;
  width: 60%;
  padding-left: 60px;
}

.icons {
  display: flex;
  justify-content: flex-start;
}

.icons a {
  color: #000;
  padding-left: 16px;
}

@media only screen and (max-width: 1150px) {

  .row {
    display: inline;
    margin: 0px auto;
    width: 100%;
  }

  .imageContainer {
    margin: 0px auto;
    max-width: 500px;
    width: 100%;
    justify-content: none;
  }

  .textContainer {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin: 0px auto;
  }

  .icons {
    justify-content: center;
  }

}