.aboutContainer{
  margin: 0px auto;
  width: 100%;
  max-width: 1500px;
  padding: 150px 20px 0px 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageContainer {
  justify-content: flex-start;
  display: block;
  margin: 0px auto;
  width: 30%;
}

.textContainer {
  justify-content: flex-end;
  width: 60%;
  padding-left: 60px;
}

.textContainer h3 {
  font-size: 40px;
  color: #c0f;
}

.icons {
  display: flex;
  justify-content: flex-start;
}

.icons a {
  color: #000;
  padding-left: 16px;
}

.icons h3 {
  font-size: 19px;
}

@media only screen and (max-width: 1150px) {

  .aboutContainer {
    padding: 20px;
  }

  .row {
    display: inline;
    margin: 0px auto;
    width: 100%;
  }

  .imageContainer {
    justify-content: center;
  }

  .textContainer {
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin: 0px auto;
  }

  .textContainer h3 {
    text-align: center;
  }

  .icons {
    justify-content: center;
  }

}