html {
  scroll-behavior: smooth;
}
body {
  background-color: #141414;
  color: #F7F3F5;
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Titillium Web', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #C26CCB ;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #C26CCB;
  border-radius: 20px;

}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h5 {
  font-weight: 300;
}

.centerPage {
  max-width: 1150px;
  width: 100%;
  margin: 0px auto;
}

.darkBg {
  background: #141414;
}

.whiteBg {
  background: #F7F3F5;
}